<style> 
    body {
  background-image: url('/images/q.jpg');
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
};
</style>
<div class="text-center">
  <h1>My project view should render</h1>
  <h2>{{user.username}}</h2>
  <p>{{{post.title}}}</p>
  <p>{{post.description}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>

</div>

{{!-- <script src="/js/post.js"></script> --}}