{{!-- displays all posts only if logged in--}}
{{!-- Otherwise show login page --}}
{{#if logged_in}}
<section class="container card">
    <div class="columns">
        <div class="column notification is-danger">
           <div class="control py-4 has-text-centered"> Community Reviews
            </div>
        </div>
    </div>
</section>
{{#each posts as |post| }}
<section class="container card">
    <div class="columns">
        <div class="column notification is-danger">
            <main>
                <section class="card">
                    <img src="{{ post.img }}" alt="image of user cow or giraffe" style="height: 150px"/>
                </section>
                <section class="card">
                    <header>"Post Title:"</header>
                    <a href="/post/{{post.id}}">{{post.title}}</a>
                    <p> {{post.description}}</p>

                    <p>Created by {{post.user.username}} on {{ format_date post.created_on }}</p>

                </section>
            </main>
        </div>
    </div>
</section>
{{/each}}
<section class="container card">
    <div class="columns">
        <div class="column notification is-danger">
            <div class="column">
                <div class="box" style="width: 200px;">
                    <p class="title is-5">"User_name"</p>
                    <a href="/user/{{user.id}}">{{user.username}}</a>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <p class="title is-5">
                        <button class="button my-3 is-rounded search-btn tag is-dark is-large"><a href="/post">Add Post</a></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- comment out to view community page if createprofile/login is not functioning yet --}}
    {{else}}
    <div class="is-flex is-justify-content-center">
        <div class="box has-background-info" >
        <div class="column">
        <h2 class="title is-2 is-primary"><a class="is-flex is-justify-content-center pt-6 is-dark" href="/login">You must login first to view this page</a></h2>
     {{/if}}