{{!-- displays all posts only if logged in--}}
{{!-- Otherwise show login page --}}
{{#if logged_in}}
<section class="container card box">
    <div class="columns">
        <div class="column notification is-danger">
           <div class="py-4 has-text-centered title is-2"> Community Reviews
            </div>
        </div>
    </div>
</section>
{{#each posts as |post| }}
<section class="container card">
    <div class="pb-5 columns">
        <div class="column notification is-danger">
            <main>
                <section class="card">
                    <img src="{{ post.img }}" alt="image of user cow or giraffe" style="height: 150px"/>
                </section>

                <section class="card">
                    <article class="message">

                     <div class="message-header">
                         <p><a href="/post/{{post.id}}">{{post.title}}</a></p>
                     </div>
                     <div class="message-body">
                        {{post.description}}
                     </div>
                      <div>
                        <p>Created by {{post.user.username}} on {{ format_date post.created_on }}</p>
                     </div>

                   </article>
                </section>

            </main>
        </div>
    </div>
</section>
{{/each}}
<section class="container card">
    <div class="columns">
        <div class="column notification is-info">
            <div class="column">
                <div class="box">
                    <p class="title is-5 has-text-centered">
                        <button class="button my-3 is-rounded search-btn tag is-dark is-large"><a href="/post">Add Post</a></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

     {{/if}}