<link rel="stylesheet" href="css/profile.css">
{{!-- display userprofile along with posts they've made --}}
{{#if logged_in}}

{{!-- <video autoplay muted loop id="shrimptastic" src="../shrimpito/shr1mp.mp4" type="video/mp4">

</video> --}}
<style> 
    body {
  background-image: url('/images/giraffe.webp');
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
};
</style>

<div class="hero">

<span> <img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left"> 
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">
<img src="/images/—Pngtree—adult marine shrimp_6027298.png" alt="shrimpo" width="60" height="60" style="float:left">

</span>
</div>
    <div class="container mt-5">
    <div class="row hero">
        <div class="hero-body is-flex is-justify-content-center">
            <h2 class="title">Welcome, {{ username }}!</h2>
        </div>
    </div>

    <h3 class="is-flex is-justify-content-center pb-6">My Posts</h3>

    {{!-- <div class="is-flex is-justify-content-center"> --}}
        <div class="columns gap is-flex is-justify-space-between is-multiline is-tablet" style="column-gap: 10%;">
            {{#each posts}}
            <div class="container card is-fluid color column is-one-third mb-5">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ img }}" alt="placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <h4 class="title is-4 no-style"><a href="/post/{{ id }}">{{ title }}</a></h4>
                            <h5 class="subtitle is-6">Created by: {{ user.username }} on {{ format_date created_on}}
                            </h5>
                        </div>
                    </div>
                    <div class="content">
                        <p>description: </p>
                        <div class="box">
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            {{ description }}
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <footer class="card-footer is-justify-content-center">
                        <button class="card-footer-item post-list button is-danger"
                            data-id="{{ id }}">DELETE</button>
                    </footer>
                </div>
            </div>
            {{/each}}

            {{else}}
            <a class="is-flex is-justify-content-center pt-6" href="/login">You must login first to view this page</a>
            {{/if}}


        </div>

<script src="./js/profile.js"></script>