{{#if logged_in}}
<div class="columns gap is-flex is-justify-space-between is-multiline is-tablet" style="column-gap: 10%;">
  <div class="container card is-fluid color column is-half mb-5">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{ post.img }}" alt="placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <h4 class="title is-4 no-style"><a href="/post/{{ post.id }}">{{ post.title }}</a></h4>
          <h5 class="subtitle is-6">Created by: <strong>{{ post.user.username }}</strong> on {{ format_date
            post.created_on}}
          </h5>
        </div>
      </div>
      <h2>comments:</h2>
      {{#each post.comments as |comment|}}
      {{#if comment.isYours}}
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ comment.user.username }}</strong><small> {{ format_date comment.createdAt }} </small><button class="delete is-small" del-id="{{ comment.id }}" style="float:right;"></button>
                <br>
                {{ comment.description }}
              </p>
            </div>
          </div>
        </article>
      </div>
      {{else}}
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ comment.user.username }}</strong><small> {{ format_date comment.createdAt }} </small>
                <br>
                {{ comment.description }}
              </p>
            </div>
          </div>
        </article>
      </div>
      {{/if}}
      {{/each}}
      <footer class="card-footer is-justify-content-center">
        <input class="card-footer-item input is-info" id="cmt-val" type="text" placeholder="Add a comment :D">
        <button class="card-footer-item button is-info" id="add-cmt" route-id="{{ post.id }}"
          data-id="{{ user.id }}">Add Comment</button>
      </footer>
    </div>
  </div>


  {{else}}
  <a class="is-flex is-justify-content-center pt-6" href="/login">You must login first to view this page</a>
  {{/if}}


</div>
{{!-- </div> --}}
<script src="/js/comment.js"></script>