{{#if logged_in}}
<div class="columns gap is-flex is-justify-space-between is-multiline is-tablet" style="column-gap: 10%;">
  <div class="container card is-fluid color column is-one-third mb-5">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{ post.img }}" alt="placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <h4 class="title is-4 no-style"><a href="/post/{{ post.id }}">{{ post.title }}</a></h4>
          <h5 class="subtitle is-6">Created by: {{ user.username }} on {{ format_date post.created_on}}
          </h5>
        </div>
      </div>
      <div class="content">
        <p>comments:</p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris.
      </div>
      <br>
      <time datetime="{{ format_date created_on }}">Comment created on: {{ format_date post.created_on}}</time>
      <footer class="card-footer is-justify-content-center">
        <input class="card-footer-item input is-info" type="text" placeholder="Add a comment :D">
        <button class="card-footer-item button is-info" data-id="{{post.id}}">Add Comment</button>
      </footer>
    </div>
  </div>


  {{else}}
  <a class="is-flex is-justify-content-center pt-6" href="/login">You must login first to view this page</a>
  {{/if}}


</div>
{{!-- </div> --}}
<script src="./js/comments.js"></script>